<!--begin footer-->
<div class="footer-wrap">
  <div class="footer cbody clearfix">
         <ul class="footer-nav" style="width:90px;">
            <li class="footer-nav-items footer-nav-title">开发者</li>
            <li class="footer-nav-items"><a href="/report">报告</a></li>
            <li class="footer-nav-items"><a href="/lawSearch">查询</a></li>
         </ul>
         <ul class="footer-nav">
            <li class="footer-nav-items footer-nav-title">关于我们</li>
            <li class="footer-nav-items"><a href="/aboutUs?f=0">了解我们</a></li>
            <li class="footer-nav-items"><a href="/aboutUs?f=2">联系我们</a></li>
         </ul>
         <ul class="contact-nav" id="contactNav">
            <li class="contact-nav-items contact-nav-title">联系方式</li>
            <li class="contact-nav-items"> 
                <span>在线QQ咨询：3516508538</span>
                <span style="display:none;">技术支持邮箱：support@kuaicha.info</span>
            </li>
            <li class="contact-nav-items"> 
                <span>商务咨询QQ：2235512016</span>
                <span>商务合作邮箱：bd@kuaicha.info</span>
            </li>
            <li class="contact-nav-items"> 
                <span>客服热线：400-998-6399</span>
                <span>商务热线：0592-3322737</span>
            </li>
         </ul>
         <ul class="footer-ewm">
             <li class="footer-ewm-item">
                <img src="/images/assets/eWB.png" />
                <p>关注微博账号</p>
             </li>
             <li class="footer-ewm-item">
                <img src="/images/assets/eLN.png" />
                <p>关注微信公众号</p>
             </li>
         </ul>
     </div>
</div>
<!--begin copyRight-->
<div class="copy-right-wap">
    <div class="cbody copy-right">
        <span style="padding-right:15px;">版权所有&copy;2012厦门拓客金融技术服务有限公司</span>
        <span>闽ICP备12018362号-3</span>
    </div>
</div>
<!--end copyRight-->
</body>
</html>