<!doctype html>
<html>
<head>
<meta> 
<title>快查-中国第一家互联网征信技术服务平台</title>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' >
<meta name="Keywords" content="老赖，老赖查询，征信，信用查询，社保查询，快查，快查官网">
<meta name="description" content="快查，老赖，老赖查询，征信，信用查询，社保查询，厦门拓客网络科技有限公司旗下，中国第一家互联网征信技术服务平台，致力于为广大金融机构提供高效、便捷的互联网征信技术工具，协助金融机构在互联网时代摆脱地域限制、有效拓宽服务范围、大幅提升业务效率。">
<script type="text/javascript" src="/javascripts/talk.basePath.js"></script>
</head>
<body>
<input id="authId" name="authId" type="hidden" value='' />
<!--begin header-->
<div class="header">
  <div class="cbody clearfix">
    <!--logo-->
    <a href="/" class="logo"></a>
    <!--nav-->
    <ul class="nav">
       <li class="nav-items">
           <span class="nav-tab"><a href="/">首页</a></span>
       </li>
       <li class="nav-items has-subMenue">
           <span class="nav-tab"><a href="javascript:;">相关产品</a></span>
           <div class="sub-menue" style="display:none;">
               <a href="/report">个人信用报告</a>
               <span>|</span>
               <a href="/lawSearch">老赖查询</a>
               <span>|</span>
               <a href="/exposure">老赖曝光</a>
               <span>|</span>
               <a href="http://www.kuaicha.info/debt/debtHall.html" target="_bank">催收大厅</a>
           </div>
       </li>
       <li class="nav-items">
           <span class="nav-tab"><a href="/partner">商务合作</a></span>
       </li>
       <li class="nav-items">
           <span class="nav-tab"><a href="http://weibo.com/p/1006065792793989/home?from=page_100606&mod=TAB&is_all=1#place" target="_bank">官方微博</a></span>
       </li>
       <li class="nav-items">
           <span class="nav-tab"><a href="/aboutUs">关于我们</a></span>
       </li>
    </ul><!--nav-->
    <!--account-->
    <div class="login-wrap" id="login-wrap">
         <a href="/login">登录</a>
         <span>|</span>
         <a href="/register">注册</a>
    </div>
    <ul class="my-center" id="my-center" style="display:none;">
        <li class="my-center-items">
            <span class="my-center-title"><a href="javasctipt:;">管理中心</a></span>
            <ul class="my-center-tab" style="display:none;">
                <li class="my-center-tab-items"><a href="/myApp">我的应用</a></li>
                <li class="my-center-tab-items"><a href="/myInfo">基础资料</a></li>
                <li class="my-center-tab-items"><a href="/">退出</a></li>
            </ul>
        </li>
    </ul>
    <!--account-->
  </div>
</div>
<!--end header-->
